#sobre-mi{
    margin-left: 20px;
    width: 80%;
    position: relative;
}

#sobre-mi p{
    margin-bottom: 20px;
    width: 70%;
}

.foto-perfil{
    width: 250px;
    position: absolute;
    top: -30px;
}

.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid black 2px;
    overflow: hidden;
    position: relative;
}

.social-media-button{
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    width: 200px;
    color: white;
    margin-right: 20px;
    filter: inset 2px 2px black;
    font-weight: bold;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.34);
    margin: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.social-media-button:hover{
    transform: scale(0.8);
    filter: brightness(0.5);
}

.linkedin{
    background: #0077B5;
    font-family: Raleway;
    border: solid 2px black;
    box-shadow: 2px 2px 2px black,
        inset -0px -5px rgba(0, 0, 0, 0.394),
        inset -0px 2px 2px rgba(255, 255, 255, 0.471);

}

.github{
    background: #2B3137;
    font-family: Raleway;
    border: solid 2px black;
    box-shadow: 2px 2px 2px black,
        inset -0px -5px rgba(0, 0, 0, 0.394),
        inset -0px 2px 2px rgba(255, 255, 255, 0.471)
}

.hackerrank{
    background: #000000;
    font-family: Raleway;
    border: solid 2px black;
    box-shadow: 2px 2px 2px black,
        inset -0px -5px #029e41,
        inset -0px 2px 2px #ffffff62
}

.sobre-mi-subtitulo{
    margin-top: 40px;
    margin-bottom: 40px;
}

#aside-redes-sociales{
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
}