@font-face{
    font-family: "SpiderMan-Font";
    src: url(/fonts/spiderman-font.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    padding: 0;
    margin: 0;
    font-family: Raleway;
}

nav{
    display: flex;
    background: rgb(50, 132, 179);
    width: 100%;
    height: 100px;
    box-shadow: 0px -10px 30px black;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li{
    list-style-type: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

nav li:hover{
    background: linear-gradient(to top, rgb(98, 195, 248), transparent);
}

nav li[data-seleccionado="true"]{
    position: relative;
    font-weight: bold;
    font-size: large;
}

nav li[data-seleccionado="true"]::after{
    content: "";
    display: inline;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    border-radius: 20px;
}

main{
    margin-left: 20px;
}

#item{
    background-color: black;
    width: 80%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px black;
    overflow: hidden;
    transition-duration: 0.5s;
    display: flex;
    position: relative;
    margin: 20px;
    cursor: pointer;
}

.foto{
    background-color: red;
    height: 100%;
    width: 500px;
    box-sizing: border-box;
    filter: drop-shadow(to right, 2px black);
}

#item:hover{
    transform: translateX(50px);
}

#item:hover  h3{
    color: rgb(17, 168, 223)
}

#item h3{
    font-size: 50px;
    box-sizing: border-box;
    color: white;
}

#item img{
    transform: rotateZ(2deg);
    height:120%;
}

.descripcion{
    position: absolute;
    padding-left: 80px;
    z-index: 1000;
    color: white;
}



.mascara{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.9;
    z-index: 500;
}

#item span{
    width: 20px;
    background: linear-gradient(rgb(161, 17, 223), rgb(99, 21, 99));
    padding: 5px;
    padding-right: 20px;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;

}

.main{
    width: 80%;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

.rubrica_img{
    box-shadow: 05px 0px 20px black;
    margin-bottom: -50px;
    margin-top: -50px;
}

.video-youtube{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#logo{
    transition-duration: 0.3s;
    cursor: pointer;
}

#logo:hover{
    filter: brightness(0.75)
}

a{
    display: contents;
}

.lista-juegos{
    color: black;
}


.lista-juegos li{
    color: black;
    position: relative;
    list-style-type: none;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}




.lista-juegos li::before{
    content:"";
    width: 30px;
    height: 20px;
    color: black;
    background-image: url(fotos/gamepad.png);
    background-size: contain;
    position: absolute;
    left: -30px;
    top: 1px;
    background-repeat: no-repeat;
    transition-duration: 2s;
    transform-origin: center center;
    backface-visibility: hidden;
}

.lista-juegos li:hover{
    font-weight: bold;
    color: rgb(29, 163, 181);
}

.lista-juegos li:hover::before{
    animation-name: giratorio;
    animation-iteration-count: infinite;
    animation-duration: 1s;

}

@keyframes giratorio {
    0%{
        transform: rotateY(0deg);
    }

    50%{
        transform: rotateY(180deg);
    }

    100%{
        transform: rotateY(0deg);
    }
}

.lista-juegos li.lista-juegos li::before{
    content:"";
    width: 30px;
    height: 20px;
    color: black;
    background-image: url(fotos/gamepad.png);
    background-size: contain;
    position: absolute;
    left: -30px;
    top: 1px;
    background-repeat: no-repeat;
}

.carousel{
    display: flex;
}

.carousel iframe{
    margin: 20px;
    width: 450px;
    height: 250px;
}
.spidercard-jugar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.spidercard-jugar button{
    cursor: pointer;
    height: 100px;
    width: 300px;
    margin-left: 60px;
    border-radius: 20px;
    /* border: 3px solid rgb(233, 208, 18); */
    background: linear-gradient(to top, red, rgb(209, 147, 12));
    color: white;
    box-shadow: inset 2px 2px 10px rgb(234, 129, 16), 2px 2px 10px black;
    font-size: 40px;
    font-family: "SpiderMan-Font";
    outline: 2px solid black;
    position: relative;
    overflow: hidden;
    transition-duration: 1s;


}


.spidercard-jugar button::after{
    content: "";
    width: 100%;
    height: 80%;
    background: linear-gradient(to top, transparent, rgb(241, 190, 7));
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    cursor: pointer;
}

.spidercard-jugar button:hover{
    transform: scale(0.8);
    filter: brightness(0.7);
    cursor: pointer;
    color: black;
}

.spidercard-jugar iframe{
    margin: 20px;
    width: 450px;
    height: 250px
}

section{
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(to left, transparent, rgba(15, 56, 169, 0.382) 60%, rgba(36, 146, 242, 0.382));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.557), inset 5px 0px 30px rgba(0, 0, 0, 0.437);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

}

section[id="spider-2"]{
    background: linear-gradient(to left, transparent, rgba(215, 117, 12, 0.382) 60%, rgba(234, 53, 8, 0.382));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.557), inset 5px 0px 30px rgba(0, 0, 0, 0.437);
}

section::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: rgb(0, 98, 255);
    left: 0;
    top:0;
}

section[id="spider-2"]::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: rgb(255, 0, 0);
    left: 0;
    top:0;

}

#paginas{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.diseños{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

.diseños img {
    margin: 20px;
}
